@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
body {
  background: #fefbef;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  text-align: center;
  margin-bottom: 5rem;
}
.main  {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.players {
font-size: 1.5rem;
display: flex;
flex-direction: column;
align-items: flex-end;
padding-right: 5rem;
}
.players div {
  margin: 1em 0;
}

.game-board {
  width: 500px;
  height: 500px;
}

.board-squares {
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
}

.square {
  font-family: 'Comic Neue';
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7rem;
  border: white;
}

#sq1 {
  border-right: 6px solid #27171a;
}
#sq2 {
  border-right:  6px solid #27171a;
}
/* #sq3 {

} */
#sq4 {
  border-right:  6px solid #27171a;
  border-top:  6px solid #27171a;
}
#sq5 {
  border-right:  6px solid #27171a;
  border-top: 6px solid #27171a;
}
#sq6 {
  border-top:  6px solid #27171a;
}
#sq7 {
  border-top:  6px solid #27171a;
  border-right:  6px solid #27171a;
}
#sq8 {
  border-top:  6px solid #27171a;
  border-right:  6px solid #27171a;
}
#sq9 {
  border-top:  6px solid #27171a;
}

.controls {
  padding-left: 5rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}
.controls div {
  margin: 1em 0;
}

a {
  position:relative;
  text-decoration:none;
}
  a:after {
    content:'';
    position:absolute;
    bottom:0;
    left:0;
    height:10px;
    width:0;
    background-color:#cd3d64;
    z-index:-5;
    transition:width .05s;
  }
  a:hover:after {
    width:100%;
  }

  input[type='text'] {
    border: none;
    font-size: 1.5rem;
    padding: 0.2rem 0.6rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    color: black;
    border: black solid;
  }

  .game-settings-none {
    display: none;
  }
  .game-settings-active {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100%;
  }

  .ai-mode {
    display: none;
  }
  .ai-active {
    display: block;
  }

  .outcome-display  {
    display: none;
    position: absolute;
    text-align: center;
    top: 350px;
    border-radius: 20px;
    border: solid;
    font-size: 2rem;
    height: auto;
    background-color: tomato;
    width: 400px;
    margin-left: 4rem;
  }

  button {
    font-size: 1rem;
    border-radius: 0.75rem;
    height: 2.5rem;
    width: 9rem;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 1.5rem;
  }

  /* .button-container {

  } */

  .start-game {
    font-size: 1rem;
    background-color: #ff4136;
    border-radius: 0.75rem;
    height: 2.5rem;
    width: 9rem;
    color: #fefbef;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 1.5rem;
  }
  .reset-game {
    font-size: 1rem;
    background-color: #5492e2;;
    border-radius: 0.75rem;
    height: 2.5rem;
    width: 9rem;
    color: #fefbef;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 1.5rem;
  }
  .settings {
    font-size: 1rem;
    background-color: #929292;
    border-radius: 0.75rem;
    height: 2.5rem;
    width: 9rem;
    color: #fefbef;
    font-weight: 600;
    line-height: 1;
  }

  .game-settings-active div {
    font-size: 1rem;
    margin-bottom: .5rem;
  }

  /* Extra small devices (portrait phones, less than 576px) */
  @media (max-width: 575.98px) {

  }
  
  /* Small devices (landscape phones, less than 768px) */
  @media (max-width: 767.98px) { ... }
  
  /* Medium devices (tablets, less than 992px) */
  @media (max-width: 991.98px) {
    .game-board {
      width: 400px;
      height: 400px;
    }
    .board-squares {
      width: 400px;
      height: 400px;
    }
  }

  
  /* Large devices (desktops, less than 1200px) */
  @media (max-width: 1199.98px) { ... }
  
  /* Extra large devices (large desktops)
  No media query since the extra-large breakpoint has no upper bound on its width */