@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
body {
  font-family: 'Comic Neue';
  background: #f7fafc
}
header {
  text-align: center;
  padding: 2rem;
}
.main  {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.players {
font-size: 1.5rem;
display: flex;
flex-direction: column;
align-items: flex-end;
padding-right: 5rem;
}
.players div {
  margin: 1em 0;
}

.game-board {
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
}
.square {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  border: white;
}

#sq1 {
  border-right: 6px solid #2a7758;
}
#sq2 {
  border-right:  6px solid #2a7758;
}
/* #sq3 {

} */
#sq4 {
  border-right:  6px solid #2a7758;
  border-top:  6px solid #2a7758;
}
#sq5 {
  border-right:  6px solid #2a7758;
  border-top: 6px solid #2a7758;
}
#sq6 {
  border-top:  6px solid #2a7758;
}
#sq7 {
  border-top:  6px solid #2a7758;
  border-right:  6px solid #2a7758;
}
#sq8 {
  border-top:  6px solid #2a7758;
  border-right:  6px solid #2a7758;
}
#sq9 {
  border-top:  6px solid #2a7758;
}

.controls {
  padding-left: 5rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}
.controls div {
  margin: 1em 0;
}

a {
  position:relative;
  text-decoration:none;
}
  a:after {
    content:'';
    position:absolute;
    bottom:0;
    left:0;
    height:10px;
    width:0;
    background-color:#cd3d64;
    z-index:-5;
    transition:width .05s;
  }
  a:hover:after {
    width:100%;
  }


  /*for O color: #cd3d64;
  for X     color: #596ada; */
