@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
body {
  background: #fefbef;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  text-align: center;
}
.main  {
  align-items: center;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.players {
font-size: 1.5rem;
display: flex;
flex-direction: row;
justify-content: space-between;
margin-bottom: 2rem;
width: 100%;
}

main .game-board {
  align-items: center;
}

.game-board {
  width: 350px;
  height: 350px;
  margin-bottom: 3rem;
}

.board-squares {
  width: 350px;
  height: 350px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
}

.square {
  font-family: 'Comic Neue';
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  border: white;
}

#sq1 {
  border-right: 6px solid #27171a;
}
#sq2 {
  border-right:  6px solid #27171a;
}
/* #sq3 {

} */
#sq4 {
  border-right:  6px solid #27171a;
  border-top:  6px solid #27171a;
}
#sq5 {
  border-right:  6px solid #27171a;
  border-top: 6px solid #27171a;
}
#sq6 {
  border-top:  6px solid #27171a;
}
#sq7 {
  border-top:  6px solid #27171a;
  border-right:  6px solid #27171a;
}
#sq8 {
  border-top:  6px solid #27171a;
  border-right:  6px solid #27171a;
}
#sq9 {
  border-top:  6px solid #27171a;
}

.controls {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
}
.controls div {
  margin: 1em 0;
}

a {
  position:relative;
  text-decoration:none;
}
  a:after {
    content:'';
    position:absolute;
    bottom:0;
    left:0;
    height:10px;
    width:0;
    background-color:#cd3d64;
    z-index:-5;
    transition:width .05s;
  }
  a:hover:after {
    width:100%;
  }

  input[type='text'] {
    border: none;
    font-size: 1.5rem;
    padding: 0.2rem 0.6rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    color: black;
    border: black solid;
  }

  .game-settings-none {
    display: none;
  }
  .game-settings-active {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100%;
  }

  .ai-mode {
    display: none;
  }
  .ai-active {
    display: block;
  }

  .outcome-display  {
    display: none;
    position: absolute;
    text-align: center;
    top: 350px;
    border-radius: 20px;
    border: solid;
    font-size: 2rem;
    height: auto;
    background-color: tomato;
    width: 400px;
    margin-left: 4rem;
  }

  button {
    font-size: 1rem;
    border-radius: 0.75rem;
    height: 2.5rem;
    width: 7rem;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 1.5rem;
  }

  .start-game {
    font-size: 1rem;
    background-color: #ff4136;
    border-radius: 0.75rem;
    height: 2.5rem;
    color: #fefbef;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 1.5rem;
  }
  .reset-game {
    font-size: 1rem;
    background-color: #5492e2;;
    border-radius: 0.75rem;
    height: 2.5rem;
    color: #fefbef;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 1.5rem;
  }
  .settings {
    font-size: 1rem;
    background-color: #929292;
    border-radius: 0.75rem;
    height: 2.5rem;
    color: #fefbef;
    font-weight: 600;
    line-height: 1;
  }

  .game-settings-active div {
    font-size: 1rem;
    margin-bottom: .5rem;
  }


/* // Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap */
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3)
and (orientation : portrait) { 
  .players {
    margin-bottom: 5rem;
  }
  .game-board {
    width: 350px;
    height: 350px;
    margin-bottom: 9rem;
}
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 414px) {
  .game-board {
    margin-bottom: 8rem;
}

}
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .players {
    justify-content: space-around;
    margin-bottom: 5rem;
  }
  .game-board {
    width: 450px;
    height: 450px;
    margin-bottom: 9rem;
  }
  .board-squares {
    width: 450px;
    height: 450px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}